@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px:after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.border-1px {
  position: relative;
}
.border-1px:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
}
.header {
  color: #fff;
  background-color: rgba(7, 17, 27, 0.5);
  position: relative;
}
.content-wrapper {
  position: relative;
  padding: 24px 12px 18px 24px;
  font-size: 0;
}
.content-wrapper .avatar {
  display: inline-block;
  vertical-align: top;
}
.content-wrapper .avatar img {
  border-radius: 2px;
}
.content-wrapper .content {
  display: inline-block;
  margin-left: 16px;
}
.content-wrapper .content .title {
  margin: 2px 0 8px;
}
.content-wrapper .content .title .brand {
  vertical-align: top;
  display: inline-block;
  width: 30px;
  height: 18px;
  background-image: url("img/brand@2x.png");
  background-size: 30px 18px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .content-wrapper .content .title .brand {
    background-image: url("img/brand@3x.png");
  }
}
.content-wrapper .content .title .name {
  font-size: 16px;
  margin-left: 6px;
  line-height: 18px;
  font-weight: bold;
}
.content-wrapper .content .description {
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 12px;
  font-weight: 200;
}
.content-wrapper .content .supports .icon {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
}
.content-wrapper .content .supports .icon.decrease {
  background-image: url("img/decrease_1@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .content-wrapper .content .supports .icon.decrease {
    background-image: url("img/decrease_1@3x.png");
  }
}
.content-wrapper .content .supports .icon.discount {
  background-image: url("img/discount_1@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .content-wrapper .content .supports .icon.discount {
    background-image: url("img/discount_1@3x.png");
  }
}
.content-wrapper .content .supports .icon.guarantee {
  background-image: url("img/guarantee_1@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .content-wrapper .content .supports .icon.guarantee {
    background-image: url("img/guarantee_1@3x.png");
  }
}
.content-wrapper .content .supports .icon.invoice {
  background-image: url("img/invoice_1@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .content-wrapper .content .supports .icon.invoice {
    background-image: url("img/invoice_1@3x.png");
  }
}
.content-wrapper .content .supports .icon.special {
  background-image: url("img/special_1@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .content-wrapper .content .supports .icon.special {
    background-image: url("img/special_1@3x.png");
  }
}
.content-wrapper .content .supports .text {
  line-height: 12px;
  font-size: 10px;
}
.content-wrapper .support-count {
  position: absolute;
  right: 12px;
  bottom: 14px;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.content-wrapper .support-count .count {
  font-size: 10px;
  vertical-align: top;
}
.content-wrapper .support-count .icon-keyboard_arrow_right {
  font-size: 10px;
  margin-left: 2px;
  line-height: 24px;
}
.bulletin-wrapper {
  position: relative;
  height: 28px;
  line-height: 28px;
  padding: 0 22px 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(7, 17, 27, 0.2);
}
.bulletin-wrapper .bulletin-title {
  vertical-align: middle;
  padding-bottom: 1px;
  display: inline-block;
  width: 22px;
  height: 12px;
  background-size: 22px 12px;
  background-repeat: no-repeat;
  background-image: url("img/bulletin@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .bulletin-wrapper .bulletin-title {
    background-image: url("img/bulletin@3x.png");
  }
}
.bulletin-wrapper .bulletin-text {
  font-size: 10px;
  margin: 0 4px;
}
.bulletin-wrapper .icon-keyboard_arrow_right {
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 8px;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-filter: blur(10px);
}
.detail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  background: rgba(7, 17, 27, 0.8);
  -webkit-backdrop-filter: blur(10px);
}
.detail.fade-enter,
.detail.fade-leave-to {
  opacity: 0;
}
.detail.fade-enter-active,
.detail.fade-leave-active {
  transition: all 0.5s;
}
.detail .detail-wrapper {
  min-height: 100%;
}
.detail .detail-wrapper .detail-main {
  padding-top: 64px;
  padding-bottom: 64px;
}
.detail .detail-wrapper .detail-main .detail-name {
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.detail .detail-wrapper .detail-main .star-wrap {
  margin-top: 18px;
  padding: 2px 0;
  text-align: center;
}
.detail .detail-wrapper .detail-main .title {
  display: flex;
  width: 80%;
  margin: 28px auto 24px;
}
.detail .detail-wrapper .detail-main .title .line {
  flex: 1;
  position: relative;
  top: -6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.detail .detail-wrapper .detail-main .title .text {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 700;
}
.detail .detail-wrapper .detail-main .supports {
  width: 80%;
  margin: 0 auto;
}
.detail .detail-wrapper .detail-main .supports .support-item {
  padding: 0 12px;
  margin-bottom: 12px;
  font-size: 0;
}
.detail .detail-wrapper .detail-main .supports .support-item:last-child {
  margin-bottom: 0;
}
.detail .detail-wrapper .detail-main .supports .support-item .icon {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
.detail .detail-wrapper .detail-main .supports .support-item .icon.decrease {
  background-image: url("img/decrease_2@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .detail .detail-wrapper .detail-main .supports .support-item .icon.decrease {
    background-image: url("img/decrease_2@3x.png");
  }
}
.detail .detail-wrapper .detail-main .supports .support-item .icon.discount {
  background-image: url("img/discount_2@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .detail .detail-wrapper .detail-main .supports .support-item .icon.discount {
    background-image: url("img/discount_2@3x.png");
  }
}
.detail .detail-wrapper .detail-main .supports .support-item .icon.guarantee {
  background-image: url("img/guarantee_2@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .detail .detail-wrapper .detail-main .supports .support-item .icon.guarantee {
    background-image: url("img/guarantee_2@3x.png");
  }
}
.detail .detail-wrapper .detail-main .supports .support-item .icon.invoice {
  background-image: url("img/invoice_2@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .detail .detail-wrapper .detail-main .supports .support-item .icon.invoice {
    background-image: url("img/invoice_2@3x.png");
  }
}
.detail .detail-wrapper .detail-main .supports .support-item .icon.special {
  background-image: url("img/special_2@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .detail .detail-wrapper .detail-main .supports .support-item .icon.special {
    background-image: url("img/special_2@3x.png");
  }
}
.detail .detail-wrapper .detail-main .supports .support-item .text {
  font-size: 12px;
  line-height: 16px;
}
.detail .detail-wrapper .detail-main .bulletin {
  width: 80%;
  margin: 0 auto;
}
.detail .detail-wrapper .detail-main .bulletin .content {
  padding: 0 12px;
  line-height: 24px;
  font-size: 12px;
}
.detail .detail-close {
  width: 32px;
  height: 32px;
  margin: -64px auto 0 auto;
  font-size: 32px;
  text-align: center;
}
